.nav {
    padding: 24px;
    width: 300px;
}

.nav__list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'Oxygen', sans-serif;
}

.nav__link {
    text-decoration: none;
    color: #4A4A4A;
}

.navigation__link--active {
    font-weight: bold;
}